## Taken from the Prework course of the PGP AIML at The University of Texas

# INTRO TO VARIABLE EXERCISE

---------------------

### 1. What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

In [2]:
a = 10
b = 5.1
add = a + b
type(add)

float

### 2. Is 5 == (3+2)?

In [ ]:
numero_uno = 5
validacion = numero_uno == (3+2)
print(validacion)

True

### 3. Add 33 in variable *a* and print the result

a = 3

In [4]:
a = 3
add = 3 * 11
print(add)

33

### 4. Convert integer variable *a* to float and check its type

a = 3

In [5]:
a = 3
a = 3.0
type(a)

float

### 5. What will be 5 times *a* if the value of a is 10?

In [7]:
a = 10
resultado = 10 * 5
print(resultado)

50

### 6. Write a program to calculate the area of a triangle with base = 10 and height = 5

Hint : area of triangle = 1/2 * base * height

In [8]:
base = 10
height = 5
area = (base * height) / 2
print(area)

25.0

### 7. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If 

v = 10

w = 25

x = 70

y = 2

In [13]:
v = 10 
w = 25
x = 70
y = 2
z = (v+w) * (x/y)
print(z)

1225.0

### 8. Swap values of *a* and *b* 
If before swapping a = 10 and b = 5

Then after swapping a = 5 and b = 10
##### Values can not be hardcoded

In [15]:
a = 10 
b = 5
print(f"values {a} and {b}")

a,b = b,a
print(f"values now {a} and {b}")

values 10 and 5
values now 5 and 10

### 9. Convert 35 degree Celsius temperature to Fahrenheit

In [16]:
Celsius = 35
Fahrenheit = (Celsius * 9/5) + 32
print(f"The grade in Farenheit is {Fahrenheit}")

The grade in Farenheit is 95.0

-------------